In [2]:
import pandas as pd

#read in data
reviews = pd.read_csv("data/winemag-data-130k-v2.csv.zip")

#number of reviews per country
country_count = reviews.country.value_counts()
#print(country_count)

#average points per country, rounded to one decimal place 
avg_points = reviews.groupby('country')['points'].mean().round(1)

#need to create DataFrame to contain data 
df = pd.DataFrame.merge(country_count, avg_points, on = 'country')
#print(df)

#write data to csv
df.to_csv('data/reviews-per-country.csv')

In [51]:
our_list = []
for country in country_count.index:
    #print((country, country_count.loc[country],avg_points.loc[country]))
    our_list.append((country, country_count.loc[country],avg_points.loc[country]))
our_list
tuple_df = pd.DataFrame(our_list, columns = ['Country', 'Count', 'Points']).set_index("Country")
tuple_df

                        Count  Points
Country
US                      54504    88.6
France                  22093    88.8
Italy                   19540    88.6
Spain                    6645    87.3
Portugal                 5691    88.3
Chile                    4472    86.5
Argentina                3800    86.7
Austria                  3345    90.1
Australia                2329    88.6
Germany                  2165    89.9
New Zealand              1419    88.3
South Africa             1401    88.1
Israel                    505    88.5
Greece                    466    87.3
Canada                    257    89.4
Hungary                   146    89.2
Bulgaria                  141    87.9
Romania                   120    86.4
Uruguay                   109    86.8
Turkey                     90    88.1
Slovenia                   87    88.1
Georgia                    86    87.7
England                    74    91.6
Croatia                    73    87.2
Mexico                     70    85.3
Moldova                    59    87.2
Brazil                     52    84.7
Lebanon                    35    87.7
Morocco                    28    88.6
Peru                       16    83.6
Ukraine                    14    84.1
Serbia                     12    87.5
Czech Republic             12    87.2
Macedonia                  12    86.8
Cyprus                     11    87.2
India                       9    90.2
Switzerland                 7    88.6
Luxembourg                  6    88.7
Bosnia and Herzegovina      2    86.5
Armenia                     2    87.5
Slovakia                    1    87.0
China                       1    89.0
Egypt                       1    84.0

In [12]:
df

                        count  points
country
US                      54504    88.6
France                  22093    88.8
Italy                   19540    88.6
Spain                    6645    87.3
Portugal                 5691    88.3
Chile                    4472    86.5
Argentina                3800    86.7
Austria                  3345    90.1
Australia                2329    88.6
Germany                  2165    89.9
New Zealand              1419    88.3
South Africa             1401    88.1
Israel                    505    88.5
Greece                    466    87.3
Canada                    257    89.4
Hungary                   146    89.2
Bulgaria                  141    87.9
Romania                   120    86.4
Uruguay                   109    86.8
Turkey                     90    88.1
Slovenia                   87    88.1
Georgia                    86    87.7
England                    74    91.6
Croatia                    73    87.2
Mexico                     70    85.3
Moldova                    59    87.2
Brazil                     52    84.7
Lebanon                    35    87.7
Morocco                    28    88.6
Peru                       16    83.6
Ukraine                    14    84.1
Serbia                     12    87.5
Czech Republic             12    87.2
Macedonia                  12    86.8
Cyprus                     11    87.2
India                       9    90.2
Switzerland                 7    88.6
Luxembourg                  6    88.7
Bosnia and Herzegovina      2    86.5
Armenia                     2    87.5
Slovakia                    1    87.0
China                       1    89.0
Egypt                       1    84.0

In [28]:
new_df = reviews.groupby('country').agg({'country': 'count', 'points': 'mean'}).round(1)
new_df_update = new_df.rename(columns = {'country': 'count'}) #.reset_index()
#new_df_update.to_csv("test.csv")
new_df_update.sort_values('count', ascending = False, inplace = True)
#new_df_update
df [df.index != new_df_update.index]

                        count  points
country
Serbia                     12    87.5
Czech Republic             12    87.2
Macedonia                  12    86.8
Bosnia and Herzegovina      2    86.5
Armenia                     2    87.5
Slovakia                    1    87.0
China                       1    89.0